* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

.relato{
    background-color:#dad7d7 ;
    transition: all 0.3s ease-in-out, color 0.3s ease-in-out;
}

.inicio{
    width: 40px;
    height: 30px;
    cursor: pointer;
  
    
}




.checkbox{
    opacity: 0;
    
}

.label{
    background-color: #000000;
    border-radius: 50px;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    height: 26px;
    width: 54px;
    transform: scale(1.5);
}

.label .ball{
    background-color: #ffffff;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 22px;
    width: 22px;
    transform: translateX(0px);
    transition: transform 0.2s linear;
}


.checkbox:checked + .label .ball{
    transform: translateX(28px);
}

.fa-moon{
    color: #f1c40f;

}

.fa-sun{
    color: #f39c12;
}

.relato{
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
}

.toggle{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    
   

}

/* -------css relatos atuais ---  */



#relatosatual {
    font-size: 40px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #303030;
    background-color: #dad7d7;
    line-height: 100px;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;

}



#nossacaixaa {
    background-color: #dad7d7;
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    margin-bottom: -7%;
    height: 100%;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

#nossacaixab {
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    background-color: #dad7d7;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.sobrenos img {
    width: 200px;
    height: 200px;
    border-radius: 10%;
    /* box-shadow: 4px 4px 4px #D9531E; */
    margin-bottom: 25px;
    border: solid 2px #6a0dd7;
    object-fit: cover;


}

.nossonome {
    margin-bottom: 13px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: bold;
}

.nossotexto {
    font-size: 18px;

}

#relatomiguel {
    margin-top: 10%;
    width: 25%;
    
}

#relatoguilherme {

    margin-top: 13%;
    width: 25%;
}

#relatoluisfelipe {
    margin-top: 0%;
    width: 25%;
}

#relatoalicya {
    margin-top: -20%;
    width: 25%;
    margin-top: 20%;
}

#relatojackson {
    margin-top: 17%;
    width: 25%;
    margin-bottom: 7%;
}

#relatoluishenrique {
    margin-top: 19%;
    width: 25%;
    margin-bottom: 7%;
}

.texto1 p {
    color: #6a0dd7;

}

.texto2 P {
    color: #6a0dd7;
   
}

.relatos_geral{
    display: flex;
    justify-content: space-around;
    gap: 1px;
    list-style-type: none;
    
    
}

.fa-brands fa-linkedin{
    font-size: 50px;
}

.tamanho{
    font-size: 40px;
}

.tamanho:hover{
    color: #000000;
}

/* -------css relatos atuais fim ---  */

/* ------inicio da responsividade relatos atuais -----  */


@media (max-width: 428px) {


    #nossacaixaa {
        /* display: flex; */

        justify-content: center;
        text-align: justify;
        align-items: center;
        flex-direction: column;
     
    }

    #nossacaixab {
        /* display: flex; */
        justify-content: center;
        text-align: justify;
        align-items: center;
        flex-direction: column;
        width: 100%;
        padding-top: 10%;
        background-color: #dad7d7;
    }

    p.nossotexto {
        font-size: 22px;
        width: 360%;
        text-align: center;
        margin-left: -120%;
    }

    #relatoguilherme {
        margin-top: 90px;
      
       
    }

    #relatoluisfelipe {
        margin-top: 100px;
    }

    #relatoluishenrique {
        margin-top: 100px;
    }

    

    .sobrenos img {
        width: 150px;
        height: 150px;
        border-radius: 10%;      
        /* box-shadow: 4px 4px 4px #D9531E; */
        margin-left: -20px;
        
    }

}

/* -----fim da responsividade relatos atuais -----  */

/* ------começo do modo escuro dos relatos atuais ------  */


.dark-theme .relato{
    background-color:#2e2e2e ;
    transition: all 0.3s ease-in-out, color 0.3s ease-in-out;
}



.dark-theme header{
    background-color: #2e2e2e;
    transition: all 0.3s ease-in-out, color 0.3s ease-in-out;
}

.dark-theme #nossacaixaa {
    background-color: #2e2e2e;
    color: #dad7d7;
    transition: all 0.3s ease-in-out, color 0.3s ease-in-out;
}

.dark-theme p.nossotexto {
    color: #dad7d7;
    transition: all 0.3s ease-in-out, color 0.3s ease-in-out;
}

.dark-theme #nossacaixab {    
    background-color: #2e2e2e;
    color: #dad7d7;
    transition: all 0.3s ease-in-out, color 0.3s ease-in-out;
}

.dark-theme #relatosatual {
    background-color: #2e2e2e;   
    color: #dad7d7;
    transition: all 0.3s ease-in-out, color 0.3s ease-in-out;
}

/* .checkbox:checked + .label .ball{
    transform: translateX(24px);
} */
